<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex justify-center items-center flex-col w-screen h-screen">

        <h3 class="bg-blue-700 text-2xl font-bold p-4 text-white uppercase hover:bg-blue-200 hover:text-blue-700
        hover:lowercase">hello world</h3>

        <div class="flex justify-center align-center flex-col bg-gray-700  p-4 text-white mt-8">
            <h1 class="m-auto">Hello world</h1>
            <div class="mt-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, fugiat!</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>