{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Operation</title>
</head>
<body>
    <div class="w-screen min-h-screen bg-blue-300 text-center">
        <div class="bg-blue-600 p-2 text-center font-medium capitalize text-xl text-white">
            <h2>All Task</h2>
        </div>
        <ul class="w-screen flex justify-center align-center flex-col gap-y-3 mt-4">
            {% for task in tasks %}
            <li>

                {{task}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>